[submodule "src/script"]
	path = src/script
	url = https://github.com/aliraeini/script.git
	shallow = true
[submodule "src/include"]
	path = src/include
	url = https://github.com/aliraeini/sirun.git
	shallow = true
[submodule "pkgs/libtiff"]
	path = pkgs/libtiff
	url = https://github.com/aliraeini/libtiff.git
	shallow = true
[submodule "pkgs/zlib"]
	path = pkgs/zlib
	url = https://github.com/aliraeini/zlib.git
	shallow = true
[submodule "src/libvoxel"]
	path = src/libvoxel
	url = https://github.com/aliraeini/libvoxel.git
	shallow = true
[submodule "pkgs/hypre"]
	path = pkgs/hypre
	url = https://github.com/aliraeini/hypre.git
	shallow = true
[submodule "src/pnm"]
	path = src/pnm
	url = https://github.com/ImperialCollegeLondon/pnflow.git
	shallow = true
	branch = main
[submodule "pkgs/foamx4m"]
	path = pkgs/foamx4m
	url = https://github.com/aliraeini/foamxm.git
	shallow = true
[submodule "src/porefoam1f"]
	path = src/porefoam1f
	url = https://github.com/ImperialCollegeLondon/poreFoam-singlePhase.git
	branch = main
	shallow = true
[submodule "src/porefoam2f"]
	path = src/porefoam2f
	url = https://github.com/ImperialCollegeLondon/porefoam.git
	branch = main
	shallow = true
[submodule "src/ContAngle"]
	path = src/ContAngle
	url = https://github.com/ImperialCollegeLondon/ContactAngle.git
	branch = main
	shallow = true
